
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}
.stylist-serif{font-family:serif}.stylist-sans-serif{font-family:sans-serif}.stylist-cursive{font-family:cursive}.stylist-monospace{font-family:monospace}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.stylist-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.stylist-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.stylist-table,.stylist-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.stylist-table-all{border:1px solid #ccc}
.stylist-bordered tr,.stylist-table-all tr{border-bottom:1px solid #ddd}.stylist-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.stylist-table-all tr:nth-child(odd){background-color:#fff}.stylist-table-all tr:nth-child(even){background-color:#f1f1f1}
.stylist-hoverable tbody tr:hover,.stylist-ul.stylist-hoverable li:hover{background-color:#ccc}.stylist-centered tr th,.stylist-centered tr td{text-align:center}
.stylist-table td,.stylist-table th,.stylist-table-all td,.stylist-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.stylist-table th:first-child,.stylist-table td:first-child,.stylist-table-all th:first-child,.stylist-table-all td:first-child{padding-left:16px}
.stylist-btn,.stylist-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.stylist-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.stylist-btn,.stylist-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.stylist-disabled,.stylist-btn:disabled,.stylist-button:disabled{cursor:not-allowed;opacity:0.3}.stylist-disabled *,:disabled *{pointer-events:none}
.stylist-btn.stylist-disabled:hover,.stylist-btn:disabled:hover{box-shadow:none}
.stylist-badge,.stylist-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.stylist-badge{border-radius:50%}
.stylist-ul{list-style-type:none;padding:0;margin:0}.stylist-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.stylist-ul li:last-child{border-bottom:none}
.stylist-tooltip,.stylist-display-container{position:relative}.stylist-tooltip .stylist-text{display:none}.stylist-tooltip:hover .stylist-text{display:inline-block}
.stylist-ripple:active{opacity:0.5}.stylist-ripple{transition:opacity 0s}
.stylist-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.stylist-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.stylist-dropdown-click,.stylist-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.stylist-dropdown-hover:hover .stylist-dropdown-content{display:block}
.stylist-dropdown-hover:first-child,.stylist-dropdown-click:hover{background-color:#ccc;color:#000}
.stylist-dropdown-hover:hover > .stylist-button:first-child,.stylist-dropdown-click:hover > .stylist-button:first-child{background-color:#ccc;color:#000}
.stylist-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.stylist-check,.stylist-radio{width:24px;height:24px;position:relative;top:6px}
.stylist-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.stylist-bar-block .stylist-dropdown-hover,.stylist-bar-block .stylist-dropdown-click{width:100%}
.stylist-bar-block .stylist-dropdown-hover .stylist-dropdown-content,.stylist-bar-block .stylist-dropdown-click .stylist-dropdown-content{min-width:100%}
.stylist-bar-block .stylist-dropdown-hover .stylist-button,.stylist-bar-block .stylist-dropdown-click .stylist-button{width:100%;text-align:left;padding:8px 16px}
.stylist-main,#main{transition:margin-left .4s}
.stylist-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.stylist-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.stylist-bar{width:100%;overflow:hidden}.stylist-center .stylist-bar{display:inline-block;width:auto}
.stylist-bar .stylist-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.stylist-bar .stylist-dropdown-hover,.stylist-bar .stylist-dropdown-click{position:static;float:left}
.stylist-bar .stylist-button{white-space:normal}
.stylist-bar-block .stylist-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.stylist-bar-block.stylist-center .stylist-bar-item{text-align:center}.stylist-block{display:block;width:100%}
.stylist-responsive{display:block;overflow-x:auto}
.stylist-container:after,.stylist-container:before,.stylist-panel:after,.stylist-panel:before,.stylist-row:after,.stylist-row:before,.stylist-row-padding:after,.stylist-row-padding:before,
.stylist-cell-row:before,.stylist-cell-row:after,.stylist-clear:after,.stylist-clear:before,.stylist-bar:before,.stylist-bar:after{content:"";display:table;clear:both}
.stylist-col,.stylist-half,.stylist-third,.stylist-twothird,.stylist-threequarter,.stylist-quarter{float:left;width:100%}
.stylist-col.s1{width:8.33333%}.stylist-col.s2{width:16.66666%}.stylist-col.s3{width:24.99999%}.stylist-col.s4{width:33.33333%}
.stylist-col.s5{width:41.66666%}.stylist-col.s6{width:49.99999%}.stylist-col.s7{width:58.33333%}.stylist-col.s8{width:66.66666%}
.stylist-col.s9{width:74.99999%}.stylist-col.s10{width:83.33333%}.stylist-col.s11{width:91.66666%}.stylist-col.s12{width:99.99999%}
@media (min-width:601px){.stylist-col.m1{width:8.33333%}.stylist-col.m2{width:16.66666%}.stylist-col.m3,.stylist-quarter{width:24.99999%}.stylist-col.m4,.stylist-third{width:33.33333%}
.stylist-col.m5{width:41.66666%}.stylist-col.m6,.stylist-half{width:49.99999%}.stylist-col.m7{width:58.33333%}.stylist-col.m8,.stylist-twothird{width:66.66666%}
.stylist-col.m9,.stylist-threequarter{width:74.99999%}.stylist-col.m10{width:83.33333%}.stylist-col.m11{width:91.66666%}.stylist-col.m12{width:99.99999%}}
@media (min-width:993px){.stylist-col.l1{width:8.33333%}.stylist-col.l2{width:16.66666%}.stylist-col.l3{width:24.99999%}.stylist-col.l4{width:33.33333%}
.stylist-col.l5{width:41.66666%}.stylist-col.l6{width:49.99999%}.stylist-col.l7{width:58.33333%}.stylist-col.l8{width:66.66666%}
.stylist-col.l9{width:74.99999%}.stylist-col.l10{width:83.33333%}.stylist-col.l11{width:91.66666%}.stylist-col.l12{width:99.99999%}}
.stylist-rest{overflow:hidden}.stylist-stretch{margin-left:-16px;margin-right:-16px}
.stylist-content,.stylist-auto{margin-left:auto;margin-right:auto}.stylist-content{max-width:980px}.stylist-auto{max-width:1140px}
.stylist-cell-row{display:table;width:100%}.stylist-cell{display:table-cell}
.stylist-cell-top{vertical-align:top}.stylist-cell-middle{vertical-align:middle}.stylist-cell-bottom{vertical-align:bottom}
.stylist-hide{display:none!important}.stylist-show-block,.stylist-show{display:block!important}.stylist-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.stylist-auto{max-width:95%}}
@media (max-width:600px){.stylist-modal-content{margin:0 10px;width:auto!important}.stylist-modal{padding-top:30px}
.stylist-dropdown-hover.stylist-mobile .stylist-dropdown-content,.stylist-dropdown-click.stylist-mobile .stylist-dropdown-content{position:relative}	
.stylist-hide-small{display:none!important}.stylist-mobile{display:block;width:100%!important}.stylist-bar-item.stylist-mobile,.stylist-dropdown-hover.stylist-mobile,.stylist-dropdown-click.stylist-mobile{text-align:center}
.stylist-dropdown-hover.stylist-mobile,.stylist-dropdown-hover.stylist-mobile .stylist-btn,.stylist-dropdown-hover.stylist-mobile .stylist-button,.stylist-dropdown-click.stylist-mobile,.stylist-dropdown-click.stylist-mobile .stylist-btn,.stylist-dropdown-click.stylist-mobile .stylist-button{width:100%}}
@media (max-width:768px){.stylist-modal-content{width:500px}.stylist-modal{padding-top:50px}}
@media (min-width:993px){.stylist-modal-content{width:900px}.stylist-hide-large{display:none!important}.stylist-sidebar.stylist-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.stylist-hide-medium{display:none!important}}
@media (max-width:992px){.stylist-sidebar.stylist-collapse{display:none}.stylist-main{margin-left:0!important;margin-right:0!important}.stylist-auto{max-width:100%}}
.stylist-top,.stylist-bottom{position:fixed;width:100%;z-index:1}.stylist-top{top:0}.stylist-bottom{bottom:0}
.stylist-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.stylist-display-topleft{position:absolute;left:0;top:0}.stylist-display-topright{position:absolute;right:0;top:0}
.stylist-display-bottomleft{position:absolute;left:0;bottom:0}.stylist-display-bottomright{position:absolute;right:0;bottom:0}
.stylist-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.stylist-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.stylist-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.stylist-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.stylist-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.stylist-display-container:hover .stylist-display-hover{display:block}.stylist-display-container:hover span.stylist-display-hover{display:inline-block}.stylist-display-hover{display:none}
.stylist-display-position{position:absolute}
.stylist-circle{border-radius:50%}
.stylist-round-small{border-radius:2px}.stylist-round,.stylist-round-medium{border-radius:4px}.stylist-round-large{border-radius:8px}.stylist-round-xlarge{border-radius:16px}.stylist-round-xxlarge{border-radius:32px}
.stylist-row-padding,.stylist-row-padding>.stylist-half,.stylist-row-padding>.stylist-third,.stylist-row-padding>.stylist-twothird,.stylist-row-padding>.stylist-threequarter,.stylist-row-padding>.stylist-quarter,.stylist-row-padding>.stylist-col{padding:0 8px}
.stylist-container,.stylist-panel{padding:0.01em 16px}.stylist-panel{margin-top:16px;margin-bottom:16px}
.stylist-code,.stylist-codespan{font-family:Consolas,"courier new";font-size:16px}
.stylist-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.stylist-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.stylist-card,.stylist-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.stylist-card-4,.stylist-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.stylist-spin{animation:w3-spin 2s infinite linear}@keyframes w3-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.stylist-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.stylist-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.stylist-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.stylist-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.stylist-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.stylist-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.stylist-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.stylist-animate-input{transition:width 0.4s ease-in-out}.stylist-animate-input:focus{width:100%!important}
.stylist-opacity,.stylist-hover-opacity:hover{opacity:0.60}.stylist-opacity-off,.stylist-hover-opacity-off:hover{opacity:1}
.stylist-opacity-max{opacity:0.25}.stylist-opacity-min{opacity:0.75}
.stylist-greyscale-max,.stylist-grayscale-max,.stylist-hover-greyscale:hover,.stylist-hover-grayscale:hover{filter:grayscale(100%)}
.stylist-greyscale,.stylist-grayscale{filter:grayscale(75%)}.stylist-greyscale-min,.stylist-grayscale-min{filter:grayscale(50%)}
.stylist-sepia{filter:sepia(75%)}.stylist-sepia-max,.stylist-hover-sepia:hover{filter:sepia(100%)}.stylist-sepia-min{filter:sepia(50%)}
.stylist-tiny{font-size:10px!important}.stylist-small{font-size:12px!important}.stylist-medium{font-size:15px!important}.stylist-large{font-size:18px!important}
.stylist-xlarge{font-size:24px!important}.stylist-xxlarge{font-size:36px!important}.stylist-xxxlarge{font-size:48px!important}.stylist-jumbo{font-size:64px!important}
.stylist-left-align{text-align:left!important}.stylist-right-align{text-align:right!important}.stylist-justify{text-align:justify!important}.stylist-center{text-align:center!important}
.stylist-border-0{border:0!important}.stylist-border{border:1px solid #ccc!important}
.stylist-border-top{border-top:1px solid #ccc!important}.stylist-border-bottom{border-bottom:1px solid #ccc!important}
.stylist-border-left{border-left:1px solid #ccc!important}.stylist-border-right{border-right:1px solid #ccc!important}
.stylist-topbar{border-top:6px solid #ccc!important}.stylist-bottombar{border-bottom:6px solid #ccc!important}
.stylist-leftbar{border-left:6px solid #ccc!important}.stylist-rightbar{border-right:6px solid #ccc!important}
.stylist-section,.stylist-code{margin-top:16px!important;margin-bottom:16px!important}
.stylist-margin{margin:16px!important}.stylist-margin-top{margin-top:16px!important}.stylist-margin-bottom{margin-bottom:16px!important}
.stylist-margin-left{margin-left:16px!important}.stylist-margin-right{margin-right:16px!important}
.stylist-padding-small{padding:4px 8px!important}.stylist-padding{padding:8px 16px!important}.stylist-padding-large{padding:12px 24px!important}
.stylist-padding-16{padding-top:16px!important;padding-bottom:16px!important}.stylist-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.stylist-padding-32{padding-top:32px!important;padding-bottom:32px!important}.stylist-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.stylist-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.stylist-padding-top-64{padding-top:64px!important}.stylist-padding-top-48{padding-top:48px!important}
.stylist-padding-top-32{padding-top:32px!important}.stylist-padding-top-24{padding-top:24px!important}
.stylist-left{float:left!important}.stylist-right{float:right!important}
.stylist-button:hover{color:#000!important;background-color:#ccc!important}
.stylist-transparent,.stylist-hover-none:hover{background-color:transparent!important}
.stylist-hover-none:hover{box-shadow:none!important}

.stylist-amber,.stylist-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.stylist-aqua,.stylist-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.stylist-blue,.stylist-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.stylist-light-blue,.stylist-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.stylist-brown,.stylist-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.stylist-cyan,.stylist-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.stylist-blue-grey,.stylist-hover-blue-grey:hover,.stylist-blue-gray,.stylist-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.stylist-green,.stylist-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.stylist-light-green,.stylist-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.stylist-indigo,.stylist-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.stylist-khaki,.stylist-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.stylist-lime,.stylist-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.stylist-orange,.stylist-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.stylist-deep-orange,.stylist-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.stylist-pink,.stylist-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.stylist-purple,.stylist-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.stylist-deep-purple,.stylist-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.stylist-red,.stylist-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.stylist-sand,.stylist-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.stylist-teal,.stylist-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.stylist-yellow,.stylist-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.stylist-white,.stylist-hover-white:hover{color:#000!important;background-color:#fff!important}
.stylist-black,.stylist-hover-black:hover{color:#fff!important;background-color:#000!important}
.stylist-grey,.stylist-hover-grey:hover,.stylist-gray,.stylist-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.stylist-light-grey,.stylist-hover-light-grey:hover,.stylist-light-gray,.stylist-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.stylist-dark-grey,.stylist-hover-dark-grey:hover,.stylist-dark-gray,.stylist-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.stylist-pale-red,.stylist-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.stylist-pale-green,.stylist-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.stylist-pale-yellow,.stylist-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.stylist-pale-blue,.stylist-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.stylist-text-amber,.stylist-hover-text-amber:hover{color:#ffc107!important}
.stylist-text-aqua,.stylist-hover-text-aqua:hover{color:#00ffff!important}
.stylist-text-blue,.stylist-hover-text-blue:hover{color:#2196F3!important}
.stylist-text-light-blue,.stylist-hover-text-light-blue:hover{color:#87CEEB!important}
.stylist-text-brown,.stylist-hover-text-brown:hover{color:#795548!important}
.stylist-text-cyan,.stylist-hover-text-cyan:hover{color:#00bcd4!important}
.stylist-text-blue-grey,.stylist-hover-text-blue-grey:hover,.stylist-text-blue-gray,.stylist-hover-text-blue-gray:hover{color:#607d8b!important}
.stylist-text-green,.stylist-hover-text-green:hover{color:#4CAF50!important}
.stylist-text-light-green,.stylist-hover-text-light-green:hover{color:#8bc34a!important}
.stylist-text-indigo,.stylist-hover-text-indigo:hover{color:#3f51b5!important}
.stylist-text-khaki,.stylist-hover-text-khaki:hover{color:#b4aa50!important}
.stylist-text-lime,.stylist-hover-text-lime:hover{color:#cddc39!important}
.stylist-text-orange,.stylist-hover-text-orange:hover{color:#ff9800!important}
.stylist-text-deep-orange,.stylist-hover-text-deep-orange:hover{color:#ff5722!important}
.stylist-text-pink,.stylist-hover-text-pink:hover{color:#e91e63!important}
.stylist-text-purple,.stylist-hover-text-purple:hover{color:#9c27b0!important}
.stylist-text-deep-purple,.stylist-hover-text-deep-purple:hover{color:#673ab7!important}
.stylist-text-red,.stylist-hover-text-red:hover{color:#f44336!important}
.stylist-text-sand,.stylist-hover-text-sand:hover{color:#fdf5e6!important}
.stylist-text-teal,.stylist-hover-text-teal:hover{color:#009688!important}
.stylist-text-yellow,.stylist-hover-text-yellow:hover{color:#d2be0e!important}
.stylist-text-white,.stylist-hover-text-white:hover{color:#fff!important}
.stylist-text-black,.stylist-hover-text-black:hover{color:#000!important}
.stylist-text-grey,.stylist-hover-text-grey:hover,.stylist-text-gray,.stylist-hover-text-gray:hover{color:#757575!important}
.stylist-text-light-grey,.stylist-hover-text-light-grey:hover,.stylist-text-light-gray,.stylist-hover-text-light-gray:hover{color:#f1f1f1!important}
.stylist-text-dark-grey,.stylist-hover-text-dark-grey:hover,.stylist-text-dark-gray,.stylist-hover-text-dark-gray:hover{color:#3a3a3a!important}
.stylist-border-amber,.stylist-hover-border-amber:hover{border-color:#ffc107!important}
.stylist-border-aqua,.stylist-hover-border-aqua:hover{border-color:#00ffff!important}
.stylist-border-blue,.stylist-hover-border-blue:hover{border-color:#2196F3!important}
.stylist-border-light-blue,.stylist-hover-border-light-blue:hover{border-color:#87CEEB!important}
.stylist-border-brown,.stylist-hover-border-brown:hover{border-color:#795548!important}
.stylist-border-cyan,.stylist-hover-border-cyan:hover{border-color:#00bcd4!important}
.stylist-border-blue-grey,.stylist-hover-border-blue-grey:hover,.stylist-border-blue-gray,.stylist-hover-border-blue-gray:hover{border-color:#607d8b!important}
.stylist-border-green,.stylist-hover-border-green:hover{border-color:#4CAF50!important}
.stylist-border-light-green,.stylist-hover-border-light-green:hover{border-color:#8bc34a!important}
.stylist-border-indigo,.stylist-hover-border-indigo:hover{border-color:#3f51b5!important}
.stylist-border-khaki,.stylist-hover-border-khaki:hover{border-color:#f0e68c!important}
.stylist-border-lime,.stylist-hover-border-lime:hover{border-color:#cddc39!important}
.stylist-border-orange,.stylist-hover-border-orange:hover{border-color:#ff9800!important}
.stylist-border-deep-orange,.stylist-hover-border-deep-orange:hover{border-color:#ff5722!important}
.stylist-border-pink,.stylist-hover-border-pink:hover{border-color:#e91e63!important}
.stylist-border-purple,.stylist-hover-border-purple:hover{border-color:#9c27b0!important}
.stylist-border-deep-purple,.stylist-hover-border-deep-purple:hover{border-color:#673ab7!important}
.stylist-border-red,.stylist-hover-border-red:hover{border-color:#f44336!important}
.stylist-border-sand,.stylist-hover-border-sand:hover{border-color:#fdf5e6!important}
.stylist-border-teal,.stylist-hover-border-teal:hover{border-color:#009688!important}
.stylist-border-yellow,.stylist-hover-border-yellow:hover{border-color:#ffeb3b!important}
.stylist-border-white,.stylist-hover-border-white:hover{border-color:#fff!important}
.stylist-border-black,.stylist-hover-border-black:hover{border-color:#000!important}
.stylist-border-grey,.stylist-hover-border-grey:hover,.stylist-border-gray,.stylist-hover-border-gray:hover{border-color:#9e9e9e!important}
.stylist-border-light-grey,.stylist-hover-border-light-grey:hover,.stylist-border-light-gray,.stylist-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.stylist-border-dark-grey,.stylist-hover-border-dark-grey:hover,.stylist-border-dark-gray,.stylist-hover-border-dark-gray:hover{border-color:#616161!important}
.stylist-border-pale-red,.stylist-hover-border-pale-red:hover{border-color:#ffe7e7!important}.stylist-border-pale-green,.stylist-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.stylist-border-pale-yellow,.stylist-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.stylist-border-pale-blue,.stylist-hover-border-pale-blue:hover{border-color:#e7ffff!important}